.container{
    display: flex;
    flex-direction: column;
    width:100%;
    min-height:100vh;
    background:rgb(197, 196, 196);


}

.body{
    // crod of 2 columns
    width:99%;
    margin:0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // on small screens
    @media (max-width: 1300px) {
        grid-template-columns: 1fr;
    }
}



:global{
    .navbar{
        border-bottom:0px;
    }
}